nav {
  background-color: grey;
  height: 60px;
  position: fixed;
  width: 100%;
  padding:0 60px;
}

.logo {
  height:50px;
  width: 50px;
  border-radius: 50%;
  margin:5px;
  border: 1px black solid;
  vertical-align: middle;
}

nav li {
  display: inline-block;
  list-style: none;
}
nav ul {
  display: inline-block;
}

nav li::after {
  content: "|";
  margin-left: 5px;
}

body {
  background: url(../images/outerspace_landscape.jpeg) no-repeat;
  background-size: cover;
}
main {
  padding-top: 90px;
}
.box {
  width:600px;
  height:300px;
  border:10px green dotted;
  margin-top:150px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.cat, .dog{
  width: 200px;
  height: 200px;
  position: absolute;
}

.dog {
bottom: -120px; 
right: -60px;
}

.cat {
  top:-90px;
  left:-90px;
}
